$color-accent: #ffb72d
$color-text: #000000
$color-text-alt: #454545
$color-border: rgba(0, 0, 0, 0.30)
$color-background-alt: #F2F2F2
$color-background: #FFFFFF

$body-font-family: "Poppins", sans-serif
$heading-font-family: $body-font-family

// $header-color: $color-text !default
// $header-hover-color: $color-accent !default // TODO : Réflechir à plus élégant / générique
$header-background: $color-accent
// $header-transition: 0.3s !default
// $header-dropdown-full: false !default
// $header-dropdown-background: $header-background !default
// $header-dropdown-color: $header-color !default
// $header-dropdown-transition: $header-transition !default
// $header-sticky-enabled: true !default
// $header-sticky-background: $color-background !default
// $header-sticky-dropdown-background: $header-sticky-background !default
// $header-sticky-color: $header-color !default
// $header-sticky-transition: $header-transition !default
// $header-nav-padding-y: px2rem(20) !default
// $header-nav-padding-y-desktop: px2rem(30) !default
// $header-logo-height: 32px !default
// $header-logo-height-desktop: $header-logo-height !default
// $header-height: 87px !default
// $header-height-desktop: 96px !default
// $header-sticky-invert-logo: false !default
$header-border-bottom-width: 0
$hero-background-color: $color-accent