$color-accent: #ffb72d
$color-text: #000000
$color-text-alt: #454545
$color-border: rgba(0, 0, 0, 0.30)
$color-background-alt: #F2F2F2
$color-background: #FFFFFF

$body-font-family: "Poppins", sans-serif
$heading-font-family: $body-font-family

$header-background: $color-accent
$header-border-bottom-width: 0
$hero-background-color: $color-accent