.block-chapter--accent_background
    @include media-breakpoint-up(desktop)
        .chapter
            flex-direction: column !important
        p
            text-align: center
            font-size: $lead-sidebar-size-desktop
            line-height: 150%